/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Hind', sans-serif;
    /*? rem: dựa vào font-size của thẻ html => hỗ trợ cho bảo trì trang web
    font-size, spacing(padding, margin)
    nếu ko khai báo thì font-size mặc định 1rem = 16px
    1rem = 18px
    */
    font-size: 18px;
}
/* Header */
header .navbar-brand {
    /* 1rem = 18px => 2rem = 36px*/
    font-size: 2rem;
}
#portfolioNav .nav-link {
    font-size: 1rem;
    padding: 0 0.833rem;
    /*! trước hover */
    color: white;
    transition: all .5s;
}
#portfolioNav .nav-link::after {
    content: "";
    display: block;
    /* trước hover */
    width: 0;
    height: 5px;

    background: #35a22c;
    transition: all .5s;
}
/*! sau hover */
#portfolioNav .nav-item:hover .nav-link::after {
    width: 100%;
}
#portfolioNav .nav-item:hover .nav-link {
    color: #35a22c;
   
}
/* Thẻ li có class active thì after của nó luôn xuất hiện */
/* #portfolioNav  li.active .nav-link::after{
    width: 100%;
} */
#portfolioNav  .active .nav-link::after{
    width: 100%;
}
#portfolioNav  .active .nav-link {
    color: #35a22c;

}
/* Carousel */
/* Gọi các thẻ img là con trực tiếp (cấp 1) của carousel-item */
#carouselPortMain .carousel-item >img {
    /* thường dùng ở Main carousel */
    height: 100vh;
    object-fit: cover;
}
#carouselPortMain .carousel-caption img {
    /* hình có dạng hình vuông thì chỉ cần xét width */
    width: 140px;
    border-radius: 50%;
}
/* chỉnh đường gạch indicators thì chuyển chữ nhật => hình vuông => tròn */

/*! căn giữa với position absolute */
#carouselPortMain .carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(50%);
}