/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Hind', sans-serif;
    /*? rem: dựa vào font-size của thẻ html => hỗ trợ cho bảo trì trang web
    font-size, spacing(padding, margin)
    nếu ko khai báo thì font-size mặc định 1rem = 16px
    1rem = 18px
    */
    /* font-size: 18px; */
}
/* Header */
header .navbar-brand {
    /* 1rem = 18px => 2rem = 36px*/
    font-size: 2rem;
}
#portfolioNav .nav-link {
    font-size: 1rem;
    padding: ;
}